aiohttp==3.10.1
alembic==1.13.1
amqp==5.2.0
bcrypt==4.1.2
celery==5.4.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
gunicorn==21.2.0
idna==3.7
kombu==5.3.7
Mako==1.3.3
MarkupSafe==2.1.5
numpy==1.26.4
openpyxl==3.1.2
pandas==2.2.1
pandasql==0.7.3
psycopg2-binary==2.9.9
python-dotenv==1.0.1
redis==5.0.4
requests==2.31.0
rq==1.16.1
selenium
SQLAlchemy==2.0.29
urllib3==2.2.1
webdriver-manager
chromedriver-binary
traceback2==1.4.0
xlrd==2.0.1
